Flask==2.0.3
Flask_JWT_Extended==4.4.2
Flask_Limiter==2.5.0
flask_mailman==0.3.0
Flask_WTF==1.0.1
pycryptodomex==3.15.0
PyJWT==2.4.0
Pyrebase4==4.5.0
python-dotenv==0.20.0
rollbar==0.16.3
stripe==3.5.0
WTForms==2.3.3