{% extends "adminbase.html" %}

{% block content %}
<div class="tom-destiny-canvas-header break tablet post-header">
    <header class="tom-destiny-canvas-header-content">
        <h2 class="tom-destiny-canvas-title">
            <a href="#/pages/" id="ember74" class="active ember-view">Pages</a>
        </h2>
        <section class="view-actions">
            <div class="tom-destiny-contentfilter view-actions-bottom-row">
                <div class="tom-destiny-contentfilter-menu tom-destiny-contentfilter-type ">
                    <div class="ember-view ember-basic-dropdown-trigger ember-power-select-trigger tom-destiny-contentfilter-menu-trigger" role="button" tabindex="0" data-ebd-id="ember75-trigger" aria-owns="ember-basic-dropdown-content-ember75" aria-expanded="false">
                        <span class="ember-power-select-selected-item"> All pages </span>
                        <!---->
                        <svg viewBox="0 0 26 17">
                            <path d="M.469.18l11.5 13.143L23.469.18" transform="translate(1 2)" stroke-width="3" stroke="#0B0B0A" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div id="ember-basic-dropdown-content-ember75" class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>
                </div>
                <div class="tom-destiny-contentfilter-menu tom-destiny-contentfilter-visibility ">
                    <div class="ember-view ember-basic-dropdown-trigger ember-power-select-trigger tom-destiny-contentfilter-menu-trigger" role="button" tabindex="0" data-ebd-id="ember77-trigger" aria-owns="ember-basic-dropdown-content-ember77" aria-expanded="false">
                        <span class="ember-power-select-selected-item"> All access </span>
                        <!---->
                        <svg viewBox="0 0 26 17">
                            <path d="M.469.18l11.5 13.143L23.469.18" transform="translate(1 2)" stroke-width="3" stroke="#0B0B0A" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div id="ember-basic-dropdown-content-ember77" class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>
                </div>
                <div class="tom-destiny-contentfilter-menu tom-destiny-contentfilter-author ">
                    <div class="ember-view ember-basic-dropdown-trigger ember-power-select-trigger tom-destiny-contentfilter-menu-trigger" role="button" tabindex="0" data-ebd-id="ember79-trigger" aria-owns="ember-basic-dropdown-content-ember79" aria-expanded="false">
                        <span class="ember-power-select-selected-item"> All authors </span>
                        <!---->
                        <svg viewBox="0 0 26 17">
                            <path d="M.469.18l11.5 13.143L23.469.18" transform="translate(1 2)" stroke-width="3" stroke="#0B0B0A" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div id="ember-basic-dropdown-content-ember79" class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>
                </div>
                <div class="tom-destiny-contentfilter-menu tom-destiny-contentfilter-tag ">
                    <div class="ember-view ember-basic-dropdown-trigger ember-power-select-trigger tom-destiny-contentfilter-menu-trigger" role="button" tabindex="0" data-ebd-id="ember81-trigger" aria-owns="ember-basic-dropdown-content-ember81" aria-expanded="false">
                        <span class="ember-power-select-selected-item"> All tags </span>
                        <!---->
                        <svg viewBox="0 0 26 17">
                            <path d="M.469.18l11.5 13.143L23.469.18" transform="translate(1 2)" stroke-width="3" stroke="#0B0B0A" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div id="ember-basic-dropdown-content-ember81" class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>
                </div>
                <div class="tom-destiny-contentfilter-menu tom-destiny-contentfilter-sort">
                    <div class="ember-view ember-basic-dropdown-trigger ember-power-select-trigger tom-destiny-contentfilter-menu-trigger" role="button" tabindex="0" data-ebd-id="ember83-trigger" aria-owns="ember-basic-dropdown-content-ember83" aria-expanded="false">
                        <span class="ember-power-select-selected-item"> Newest </span>
                        <!---->
                        <svg viewBox="0 0 26 17">
                            <path d="M.469.18l11.5 13.143L23.469.18" transform="translate(1 2)" stroke-width="3" stroke="#0B0B0A" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div id="ember-basic-dropdown-content-ember83" class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>
                </div>
            </div>
            <a href="#/editor/page/" id="ember85" class="ember-view tom-destiny-btn tom-destiny-btn-primary view-actions-top-row">
                <span>New page</span>
            </a>
        </section>
    </header>
</div>
<section class="view-container content-list">
    <ol class="tom-destiny-list ">
        <li class="tom-destiny-list-row header">
            <div class="tom-destiny-list-header tom-destiny-posts-title-header">Title</div>
            <div class="tom-destiny-list-header tom-destiny-posts-status-header">Status</div>
        </li>
        <li class="tom-destiny-list-row tom-destiny-posts-list-item">
            <a href="#/editor/page/627b797da24b077b836a56fa/" id="ember86" class="ember-view permalink tom-destiny-list-data tom-destiny-post-list-title">
                <h3 class="tom-destiny-content-entry-title"> About this site </h3>
                <p>
                    <span class="tom-destiny-content-entry-meta"> By <span class="midgrey-l2 fw5">Teo Sze Yan</span> • <span data-tooltip="11 May 2022">24 days ago</span>
                    </span>
                </p>
            </a>
            <a href="#/editor/page/627b797da24b077b836a56fa/" id="ember87" class="ember-view permalink tom-destiny-list-data tom-destiny-post-list-status">
                <div class="flex items-center">
                    <span class="tom-destiny-content-status-published nowrap"> Published </span>
                </div>
            </a>
        </li>
        <li class="tom-destiny-list-row tom-destiny-posts-list-item">
            <a href="#/editor/page/627b7ddfb8b3838bb5b984a0/" id="ember88" class="ember-view permalink tom-destiny-list-data tom-destiny-post-list-title">
                <h3 class="tom-destiny-content-entry-title"> SZ3YAN Productivity Guide </h3>
                <p>
                    <span class="tom-destiny-content-entry-meta"> By <span class="midgrey-l2 fw5">Teo Sze Yan</span> • <span data-tooltip="03 Apr 2022">2 months ago</span>
                    </span>
                </p>
            </a>
            <a href="#/editor/page/627b7ddfb8b3838bb5b984a0/" id="ember89" class="ember-view permalink tom-destiny-list-data tom-destiny-post-list-status">
                <div class="flex items-center">
                    <span class="tom-destiny-content-status-published nowrap"> Published </span>
                </div>
            </a>
        </li>
    </ol>
{% endblock %}