<footer class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8">
    <div class="border-t border-slate-900/5 py-10">
        <div class="flex justify-center mx-auto h-5 w-auto text-slate-900">
            Tommy Destiny
        </div>
        <p class="mt-5 text-center text-sm leading-6 text-slate-500">Tom Destiny © 2022. Powered by <a href="https://github.com/Sz3yan/Tommy-Destiny" target="_blank"><span class="hover:text-slate-500">Sze Yan</span></p>
        <div class="mt-16 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
            <a href="/privacy-policy">Privacy policy</a>
            <div class="h-4 w-px bg-slate-500/20"></div>
            <a href="/changelog">Changelog</a>
        </div>
    </div>
</footer>