<header class="relative z-50 w-full flex-none text-sm font-semibold leading-6 text-slate-900">
    <nav aria-label="Global" class="mx-auto max-w-container px-4 sm:px-6 lg:px-8">
        <div class="relative flex items-center py-[2.125rem]">
            <a class="mr-auto flex-none text-slate-900" href="/">Tommy Destiny</a>

            <div class="hidden lg:flex lg:items-center">
                <a href="/about">About</a>
                <a class="ml-8" href="/pricing">Pricing</a>
                <div class="ml-2 hidden rounded-full bg-sky-500 px-1.5 py-0.5 text-xs text-white sm:block">New</div>
            </div>

            <button type="button" class="-my-1 ml-6 -mr-1 flex h-8 w-8 items-center justify-center lg:hidden">
                <span class="sr-only">Open
                    navigation</span>
                <svg viewBox="0 0 24 24" class="h-6 w-6 stroke-slate-900">
                    <path d="M3.75 12h16.5M3.75 6.75h16.5M3.75 17.25h16.5" fill="none" stroke-width="1.5"
                        stroke-linecap="round"></path>
                </svg>
            </button>

            <div class="hidden lg:ml-8 lg:flex lg:items-center lg:border-l lg:border-slate-900/15 lg:pl-8">
                {% if session["userID"] %}
                    <a href="/logout">Sign out</a>
                    {% if g.current_user.get("Role") == "admin" %}
                        <a class="inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 bg-slate-900 text-white hover:bg-slate-700 -my-2.5 ml-8"
                        href="/admin/dashboard"><span>Admin Access <span aria-hidden="true">→</span></span></a></div>
                    {% else %}
                        <a class="inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 bg-slate-900 text-white hover:bg-slate-700 -my-2.5 ml-8"
                        href="/profile"><span>Profile <span aria-hidden="true">→</span></span></a></div>
                    {% endif %}
                {% else %}
                    <a href="/login">Sign in</a>
                {% endif %}
        </div>
    </nav>
</header>