<div class="tom-destiny-head-inner tom-destiny-inner">
    <a class="tom-destiny-head-description" href="/">Thoughts, stories and ideas.</a>

    <div class="tom-destiny-head-brand">
        <a class="tom-destiny-head-logo" href="/">
                Tom Destiny
        </a>
        <button class="tom-destiny-burger"></button>
    </div>

    <nav class="tom-destiny-head-menu">
        <ul class="nav">
            <li class="nav-environment"><a href="">4.0 Guide</a></li>
            <li class="nav-about"><a href="/about">About</a></li>
            <li class="nav-about"><a href="/pricing">Pricing</a></li>
            {#{% if 'userID' in session %}
                {% if g.current_user.get("Role") == "admin" %}
            <!-- <li class="nav-about"><a href="/admin/dashboard">Admin</a></li> -->
                {% endif %}
            {% endif %}#}

            <li class="nav-about"><a href="/admin/dashboard">Admin</a></li>
        </ul>
    </nav>

    
    <div class="tom-destiny-head-actions">
        <a class="tom-destiny-head-btn tom-destiny-btn tom-destiny-primary-btn tom-destiny-portal-close" href="/login" data-portal="signup" style="background-color: #f51919;" nonce="bG9naW5idG5mb3JzaG93">Login</a>
    </div>
</div>
