{% extends "adminbase.html" %}
{% block title %}Admin - Logging n Monitoring{% endblock %}

{% block bodyContent %}
    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-gray-900">Logs and Monitoring</h1>
        </div>
    </header>
    
    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="px-4 py-6 sm:px-0">
                <div class="rounded-lg h-screen">
                    <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
                        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{
                                        admin_count }}</span>
                                    <h3 class="text-base font-normal text-gray-500">Admin Logs</h3>
                                </div>
                                <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                                    14.6%
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{ user_count }}</span>
                                    <h3 class="text-base font-normal text-gray-500">User Logs</h3>
                                </div>
                                <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                                    32.9%
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">0</span>
                                    <h3 class="text-base font-normal text-gray-500">Errors</h3>
                                </div>
                                <div class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
                                    -2.7%
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                        <!-- Replace with your content -->
                        <div class="">
                            <div class="rounded-lg h-fit">
                                <div class="bg-white shadow sm:rounded-lg">
                                    <div class="px-4 py-5 sm:px-6">
                                        <h3 class="text-lg leading-6 font-medium text-gray-900">Admin Logs</h3>
                                        <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and
                                            application. Latest 15 logs</p>
                                    </div>
                                    <div class="border-t border-gray-200">
                                        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                                            <table class="w-full h-4 text-sm text-left text-gray-500 dark:text-gray-400">
                                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                                    <tr>
                                                        <th scope="col" class="p-4">
                                                            <div class="flex items-center">
                                                                <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                                <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                                            </div>
                                                        </th>
                                                        <th scope="col" class="py-3 px-6">
                                                            Level
                                                        </th>
                                                        <th scope="col" class="py-3 px-6">
                                                            Timestamp
                                                        </th>
                                                        <th scope="col" class="py-3 px-6">
                                                            Event
                                                        </th>
                                                        <th scope="col" class="py-3 px-6">
                                                            Details
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="overflow-y-scroll" id="myTable">
                                                    {% for logs in admin_logs %}
                                                        {% if loop.index <= 15 %}
                                                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                                <td class="p-4 w-4">
                                                                    <div class="flex items-center">
                                                                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                                                    </div>
                                                                </td>
                                                                <td scope="row"
                                                                    class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                                    {{ admin_logs[(admin_logs | length) - loop.index]["levelname"] }}
                                                                </td>
                                                                <td class="py-4 px-6">
                                                                    {{ admin_logs[(admin_logs | length) - loop.index]["asctime"] }}
                                                                </td>
                                                                <td class="py-4 px-6">
                                                                    {{ admin_logs[(admin_logs | length) - loop.index]["message"] }}
                                                                </td>
                                                                <td class="py-4 px-6">
                                                                    <a href="#"
                                                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /End replace -->
                    </div>

                    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                        <!-- Replace with your content -->
                        <div class="">
                            <div class="rounded-lg h-fit">
                                <div class="bg-white shadow sm:rounded-lg">
                                    <div class="px-4 py-5 sm:px-6">
                                        <h3 class="text-lg leading-6 font-medium text-gray-900">User Logs</h3>
                                        <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and
                                            application. Latest 15 logs</p>
                                    </div>
                                    <div class="border-t border-gray-200">
                                        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                                            <table class="overflow-scroll w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                                    <tr>
                                                        <th scope="col" class="p-4">
                                                            <div class="flex items-center">
                                                                <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                                <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                                            </div>
                                                        </th>
                                                        <th scope="col" class="py-3 px-6">
                                                            Level
                                                        </th>
                                                        <th scope="col" class="py-3 px-6">
                                                            Timestamp
                                                        </th>
                                                        <th scope="col" class="py-3 px-6">
                                                            Event
                                                        </th>
                                                        <th scope="col" class="py-3 px-6">
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody style="height: 1vh;">
                                                    {% for logs in user_logs %}
                                                        {% if loop.index <= 15 %}
                                                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                                <td class="p-4 w-4">
                                                                    <div class="flex items-center">
                                                                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                                                    </div>
                                                                </td>
                                                                <th scope="row"
                                                                    class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                                    {{ user_logs[(user_logs | length) - loop.index]["levelname"] }}
                                                                </th>
                                                                <td class="py-4 px-6">
                                                                    {{ user_logs[(user_logs | length) - loop.index]["asctime"] }}
                                                                </td>
                                                                <td class="py-4 px-6">
                                                                    {{ user_logs[(user_logs | length) - loop.index]["message"] }}
                                                                </td>
                                                                <td class="py-4 px-6">
                                                                    <a href="#"
                                                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /End replace -->
                    </div>
                </div>
            </div>
            <!-- /End replace -->
        </div>
    </main>
{% endblock %}