{% extends "adminbase.html" %}

{% block content %}
<div class="tom-destiny-dashboard">
    <div class="tom-destiny-dashboard-inner">
        <div class="tom-destiny-canvas-header">
            <header class="tom-destiny-canvas-header-content">
                <h2 class="tom-destiny-canvas-title"> Dashboard </h2>
            </header>
        </div>
    </div>
    <section class="tom-destiny-dashboard-layout">
        <div class="tom-destiny-dashboard-group ">
            <section class="tom-destiny-dashboard-section tom-destiny-dashboard-anchor">
                <article class="tom-destiny-dashboard-box">
                    <div class="tom-destiny-dashboard-metric   is-large">
                        <div class="tom-destiny-dashboard-metric-data">
                            <h5 class="tom-destiny-dashboard-metric-label"> Total members </h5>
                            <div class="tom-destiny-dashboard-metric-value">
                                <span class="value">1</span>
                                <div class="tom-destiny-dashboard-percentage is-positive">+100% </div>
                            </div>
                        </div>
                    </div>
                    <div class="tom-destiny-dashboard-hero is-solo">
                        <div class="tom-destiny-dashboard-chart tom-destiny-dashboard-totals">
                            <div class="tom-destiny-dashboard-chart-container">
                                <div class="tom-destiny-dashboard-chart-box">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="myChart" height="200" class="ember-view chartjs-render-monitor" width="1178" style="display: block; width: 1178px; height: 200px; cursor: pointer;"></canvas>
                                    <script>
                                        var ctx = document.getElementById("myChart");
                                        var myLineChart = new Chart(ctx, {
                                            type: 'line',
                                            data: {
                                                labels: {
                                                    {
                                                        {{labels}}
                                                    }
                                                },
                                                datasets: [{
                                                    label: "Earnings from Product Sales",
                                                    lineTension: 0.3,
                                                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                                                    borderColor: "rgba(78, 115, 223, 1)",
                                                    pointRadius: 3,
                                                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                                                    pointBorderColor: "rgba(78, 115, 223, 1)",
                                                    pointHoverRadius: 3,
                                                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                                                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                                                    pointHitRadius: 10,
                                                    pointBorderWidth: 2,
                                                    data: {
                                                        {
                                                            {{values}}
                                                        }
                                                    },
                                                }],
                                            },
                                            options: {
                                                maintainAspectRatio: false,
                                                layout: {
                                                    padding: {
                                                        left: 10,
                                                        right: 25,
                                                        top: 25,
                                                        bottom: 0
                                                    }
                                                },
                                                scales: {
                                                    xAxes: [{
                                                        time: {
                                                            unit: 'date'
                                                        },
                                                        gridLines: {
                                                            display: false,
                                                            drawBorder: false
                                                        },
                                                        ticks: {
                                                            maxTicksLimit: 7
                                                        }
                                                    }],
                                                    yAxes: [{
                                                        ticks: {
                                                            maxTicksLimit: 5,
                                                            padding: 10,
                                                            // Include a dollar sign in the ticks
                                                            callback: function(value, index, values) {
                                                                return '$' + number_format(value);
                                                            }
                                                        },
                                                        gridLines: {
                                                            color: "rgb(234, 236, 244)",
                                                            zeroLineColor: "rgb(234, 236, 244)",
                                                            drawBorder: false,
                                                            borderDash: [2],
                                                            zeroLineBorderDash: [2]
                                                        }
                                                    }],
                                                },
                                                legend: {
                                                    display: false
                                                },
                                                tooltips: {
                                                    backgroundColor: "rgb(255,255,255)",
                                                    bodyFontColor: "#858796",
                                                    titleMarginBottom: 10,
                                                    titleFontColor: '#6e707e',
                                                    titleFontSize: 14,
                                                    borderColor: '#dddfeb',
                                                    borderWidth: 1,
                                                    xPadding: 15,
                                                    yPadding: 15,
                                                    displayColors: false,
                                                    intersect: false,
                                                    mode: 'index',
                                                    caretPadding: 10,
                                                    callbacks: {
                                                        label: function(tooltipItem, chart) {
                                                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                                            return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                                                        }
                                                    }
                                                }
                                            }
                                        });
                                        // render the chart
                                        const myChart = new Chart(document.getElementById('myChart'), config);
                                    </script>
                                </div>
                                <div id="tom-destiny-dashboard-anchor-tooltip" class="tom-destiny-dashboard-tooltip" style="opacity: 0; position: absolute; left: 73.4px; top: 179px;">
                                    <div class="tom-destiny-dashboard-tooltip-label">7 May, 2022 </div>
                                    <div class="tom-destiny-dashboard-tooltip-value">
                                        <span class="indicator line"></span>
                                        <span class="value">0</span>
                                        <span class="metric">Total members</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tom-destiny-dashboard-chart-ticks">
                                <span id="tom-destiny-dashboard-anchor-date-start">5 May, 2022</span>
                                <span id="tom-destiny-dashboard-anchor-date-end">4 Jun, 2022</span>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <section class="tom-destiny-dashboard-section tom-destiny-dashboard-engagement">
                <article class="tom-destiny-dashboard-box">
                    <div class="tom-destiny-dashboard-metric   ">
                        <div class="tom-destiny-dashboard-metric-data">
                            <h5 class="tom-destiny-dashboard-metric-label"> Engagement </h5>
                        </div>
                    </div>
                    <div class="tom-destiny-dashboard-columns">
                        <div class="tom-destiny-dashboard-column tom-destiny-dashboard-engagement-7days">
                            <div class="tom-destiny-dashboard-metric   ">
                                <div class="tom-destiny-dashboard-metric-data">
                                    <div class="tom-destiny-dashboard-metric-value is-secondary">
                                        <span class="value">$987243</span>
                                    </div>
                                    <h5 class="tom-destiny-dashboard-metric-label is-secondary"> Money Made </h5>
                                </div>
                            </div>
                        </div>
                        <div class="tom-destiny-dashboard-column tom-destiny-dashboard-engagement-subscribers">
                            <div class="tom-destiny-dashboard-metric   ">
                                <div class="tom-destiny-dashboard-metric-data">
                                    <div class="tom-destiny-dashboard-metric-value is-secondary">
                                        <span class="value">950</span>
                                    </div>
                                    <h5 class="tom-destiny-dashboard-metric-label is-secondary"> Newsletter subscribers </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <section class="tom-destiny-dashboard-section tom-destiny-dashboard-engagement">
            <article class="tom-destiny-dashboard-box">
                <div class="tom-destiny-dashboard-metric   ">
                    <div class="tom-destiny-dashboard-metric-data">
                        <h5 class="tom-destiny-dashboard-metric-label"> Recent Post </h5>
                    </div>
                </div>
                <section class="view-container content-list">
                    <ol class="posts-list tom-destiny-list ">
                        <li class="tom-destiny-list-row header">
                            <div class="tom-destiny-list-header tom-destiny-posts-title-header">Title</div>
                            <div class="tom-destiny-list-header tom-destiny-posts-status-header">Status</div>
                        </li> {% for post in posts %} <li class="tom-destiny-list-row tom-destiny-posts-list-item">
                            <a href="editor/posts/{{ post['_Post__id'] }}" id="ember1284" class="ember-view permalink tom-destiny-list-data tom-destiny-post-list-title">
                                <h3 class="tom-destiny-content-entry-title">
                                    {{ post['_Post__title'] }}
                                </h3>
                                <p>
                                    <span class="tom-destiny-content-entry-meta"> By <span class="midgrey-l2 fw5">Teo Sze Yan</span> • <span data-tooltip="03 Apr 2022">{{ post['_Post__published_at'] }}</span>
                                    </span>
                                </p>
                            </a>
                            <a href="editor/posts/{{ post['_Post__id'] }}" id="ember1287" class="ember-view permalink tom-destiny-list-data tom-destiny-post-list-status">
                                <div class="flex items-center">
                                    <span class="tom-destiny-content-status-published nowrap">
                                        {{ post['_Post__status'] }}
                                    </span>
                                </div>
                            </a>
                        </li> {% endfor %}
                    </ol>
                </section>
                <div class="tom-destiny-dashboard-list-footer">
                    <a href="/admin/posts" id="ember150" class="ember-view">See all posts →</a>
                </div>
            </article>
        </section>
        <section class="tom-destiny-dashboard-section tom-destiny-dashboard-engagement">
            <article class="tom-destiny-dashboard-box">
                <div class="tom-destiny-dashboard-metric   ">
                    <div class="tom-destiny-dashboard-metric-data">
                        <h5 class="tom-destiny-dashboard-metric-label"> Admin Logs </h5>
                    </div>
                </div>
                <div class="tom-destiny-dashboard-columns">
                    <div class="tom-destiny-dashboard-column tom-destiny-dashboard-engagement-30days">
                        <div class="tom-destiny-dashboard-metric   ">
                            <div class="tom-destiny-dashboard-metric-data">
                                <div class="tom-destiny-dashboard-metric is-secondary">
                                    <table style="width: 100%; font-size: 13px; border-top: 1px solid rgba(55, 53, 47, 0.09); border-bottom: 1px solid rgba(55, 53, 47, 0.09); table-layout: fixed;">
                                        <thead>
                                            <tr style="height: 32px; width: 100%;">
                                                <th style="font-weight: 400; text-align: left; padding-top: 8px; padding-bottom: 8px; width: 40%;">
                                                    <div style="font-size: 12px; line-height: 16px; color: rgba(55, 53, 47, 0.65); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> Admin Log Events</div>
                                                </th>
                                                <th style="font-weight: 400; text-align: left; padding-top: 8px; padding-bottom: 8px; width: 25%;">
                                                    <div style="font-size: 12px; line-height: 16px; color: rgba(55, 53, 47, 0.65); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                        <div class="tommy-destiny-focusable" role="button" aria-disabled="false" tabindex="0" style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center;">
                                                            <svg viewBox="0 0 12 12" class="arrowDown" style="width: 10px; height: 10px; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; margin-right: 4px;">
                                                                <path d="M5.99756 0.850098C5.53564 0.850098 5.21875 1.17236 5.21875 1.65576V7.61768L5.27246 8.7832L4.19287 7.53711L2.98438 6.33398C2.84473 6.18896 2.66211 6.09229 2.42578 6.09229C2.00684 6.09229 1.68994 6.40381 1.68994 6.84424C1.68994 7.04834 1.77051 7.23633 1.93164 7.40283L5.42285 10.8994C5.56787 11.0498 5.78809 11.1357 5.99756 11.1357C6.2124 11.1357 6.42725 11.0498 6.57227 10.8994L10.0688 7.40283C10.23 7.23633 10.3105 7.04834 10.3105 6.84424C10.3105 6.40381 9.99365 6.09229 9.57471 6.09229C9.34375 6.09229 9.16113 6.18896 9.01611 6.33398L7.80762 7.53711L6.72803 8.7832L6.77637 7.61768V1.65576C6.77637 1.17236 6.46484 0.850098 5.99756 0.850098Z"></path>
                                                            </svg>Date
                                                        </div>
                                                    </div>
                                                </th>
                                                <th style="font-weight: 400; text-align: left; padding-top: 8px; padding-bottom: 8px; width: 5%;">
                                                    <div style="font-size: 12px; line-height: 16px; color: rgba(55, 53, 47, 0.65); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                        <span></span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody> {% for logs in admin_logs %} <tr style="width: 100%; border-top: 1px solid rgba(55, 53, 47, 0.09);">
                                                <td style="padding-top: 6px; padding-bottom: 6px; overflow-wrap: break-word;">
                                                    <a href="/admin/editor/posts/{{ admin_logs[loop.index - 1][65:101] }}">
                                                        <div id="event-page_viewed-0" style="font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                            {{ admin_logs[loop.index - 1][51:101] }}
                                                        </div>
                                                    </a>
                                                </td>
                                                <td style="padding-top: 6px; padding-bottom: 6px; overflow-wrap: break-word;">
                                                    <div id="datetime-page_viewed-0">
                                                        <div style="font-size: 14px; line-height: 20px; color: rgba(55, 53, 47, 0.65); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                            {{ admin_logs[loop.index - 1][1:20] }}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-top: 6px; padding-bottom: 6px; overflow-wrap: break-word;">
                                                    <div class="tommy-destiny-focusable" role="button" tabindex="0" style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 32px; height: 28px; border-radius: 3px;">
                                                        <svg viewBox="0 0 14 16" class="copy" style="width: 16px; height: 16px; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden;">
                                                            <path d="M2.404 15.322h5.701c1.26 0 1.887-.662 1.887-1.927V12.38h1.154c1.254 0 1.91-.662 1.91-1.928V5.555c0-.774-.158-1.266-.626-1.74L9.512.837C9.066.387 8.545.21 7.865.21H5.463c-1.254 0-1.91.662-1.91 1.928v1.084H2.404c-1.254 0-1.91.668-1.91 1.933v8.239c0 1.265.656 1.927 1.91 1.927zm7.588-6.62c0-.792-.1-1.161-.592-1.665L6.225 3.814c-.452-.462-.844-.58-1.5-.591V2.215c0-.533.28-.832.843-.832h2.38v2.883c0 .726.386 1.113 1.107 1.113h2.83v4.998c0 .539-.276.832-.844.832H9.992V8.701zm-.79-4.29c-.206 0-.288-.088-.288-.287V1.594l2.771 2.818H9.201zM2.503 14.15c-.563 0-.844-.293-.844-.832V5.232c0-.539.281-.837.85-.837h1.91v3.187c0 .85.416 1.26 1.26 1.26h3.14v4.476c0 .54-.28.832-.843.832H2.504zM5.79 7.816c-.24 0-.346-.105-.346-.345V4.547l3.223 3.27H5.791z"></path>
                                                        </svg>
                                                    </div>
                                                </td>
                                            </tr> {% endfor %} </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tom-destiny-dashboard-column tom-destiny-dashboard-engagement-30days">
                        <div class="tom-destiny-dashboard-metric   ">
                            <div class="tom-destiny-dashboard-metric-data">
                                <div class="tom-destiny-dashboard-metric is-secondary">
                                    <table style="width: 100%; font-size: 13px; border-top: 1px solid rgba(55, 53, 47, 0.09); border-bottom: 1px solid rgba(55, 53, 47, 0.09); table-layout: fixed;">
                                        <thead>
                                            <tr style="height: 32px; width: 100%;">
                                                <th style="font-weight: 400; text-align: left; padding-top: 8px; padding-bottom: 8px; width: 40%;">
                                                    <div style="font-size: 12px; line-height: 16px; color: rgba(55, 53, 47, 0.65); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> User Log Events</div>
                                                </th>
                                                <th style="font-weight: 400; text-align: left; padding-top: 8px; padding-bottom: 8px; width: 25%;">
                                                    <div style="font-size: 12px; line-height: 16px; color: rgba(55, 53, 47, 0.65); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                        <div class="tommy-destiny-focusable" role="button" aria-disabled="false" tabindex="0" style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center;">
                                                            <svg viewBox="0 0 12 12" class="arrowDown" style="width: 10px; height: 10px; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; margin-right: 4px;">
                                                                <path d="M5.99756 0.850098C5.53564 0.850098 5.21875 1.17236 5.21875 1.65576V7.61768L5.27246 8.7832L4.19287 7.53711L2.98438 6.33398C2.84473 6.18896 2.66211 6.09229 2.42578 6.09229C2.00684 6.09229 1.68994 6.40381 1.68994 6.84424C1.68994 7.04834 1.77051 7.23633 1.93164 7.40283L5.42285 10.8994C5.56787 11.0498 5.78809 11.1357 5.99756 11.1357C6.2124 11.1357 6.42725 11.0498 6.57227 10.8994L10.0688 7.40283C10.23 7.23633 10.3105 7.04834 10.3105 6.84424C10.3105 6.40381 9.99365 6.09229 9.57471 6.09229C9.34375 6.09229 9.16113 6.18896 9.01611 6.33398L7.80762 7.53711L6.72803 8.7832L6.77637 7.61768V1.65576C6.77637 1.17236 6.46484 0.850098 5.99756 0.850098Z"></path>
                                                            </svg>Date
                                                        </div>
                                                    </div>
                                                </th>
                                                <th style="font-weight: 400; text-align: left; padding-top: 8px; padding-bottom: 8px; width: 5%;">
                                                    <div style="font-size: 12px; line-height: 16px; color: rgba(55, 53, 47, 0.65); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                        <span></span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody> {% for logs in user_logs %} <tr style="width: 100%; border-top: 1px solid rgba(55, 53, 47, 0.09);">
                                                <td style="padding-top: 6px; padding-bottom: 6px; overflow-wrap: break-word;">
                                                    <a href="/admin/editor/posts/{{ user_logs[loop.index - 1][65:101] }}">
                                                        <div id="event-page_viewed-0" style="font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                            {{ user_logs[loop.index - 1][51:101] }}
                                                        </div>
                                                    </a>
                                                </td>
                                                <td style="padding-top: 6px; padding-bottom: 6px; overflow-wrap: break-word;">
                                                    <div id="datetime-page_viewed-0">
                                                        <div style="font-size: 14px; line-height: 20px; color: rgba(55, 53, 47, 0.65); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                            {{ user_logs[loop.index - 1][1:20] }}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-top: 6px; padding-bottom: 6px; overflow-wrap: break-word;">
                                                    <div class="tommy-destiny-focusable" role="button" tabindex="0" style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 32px; height: 28px; border-radius: 3px;">
                                                        <svg viewBox="0 0 14 16" class="copy" style="width: 16px; height: 16px; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden;">
                                                            <path d="M2.404 15.322h5.701c1.26 0 1.887-.662 1.887-1.927V12.38h1.154c1.254 0 1.91-.662 1.91-1.928V5.555c0-.774-.158-1.266-.626-1.74L9.512.837C9.066.387 8.545.21 7.865.21H5.463c-1.254 0-1.91.662-1.91 1.928v1.084H2.404c-1.254 0-1.91.668-1.91 1.933v8.239c0 1.265.656 1.927 1.91 1.927zm7.588-6.62c0-.792-.1-1.161-.592-1.665L6.225 3.814c-.452-.462-.844-.58-1.5-.591V2.215c0-.533.28-.832.843-.832h2.38v2.883c0 .726.386 1.113 1.107 1.113h2.83v4.998c0 .539-.276.832-.844.832H9.992V8.701zm-.79-4.29c-.206 0-.288-.088-.288-.287V1.594l2.771 2.818H9.201zM2.503 14.15c-.563 0-.844-.293-.844-.832V5.232c0-.539.281-.837.85-.837h1.91v3.187c0 .85.416 1.26 1.26 1.26h3.14v4.476c0 .54-.28.832-.843.832H2.504zM5.79 7.816c-.24 0-.346-.105-.346-.345V4.547l3.223 3.27H5.791z"></path>
                                                        </svg>
                                                    </div>
                                                </td>
                                            </tr> {% endfor %} </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        </main>
</div>
{% endblock %}