{% extends "base.html" %}
{% block title %}Tom Destiny - Home{% endblock %}

{% block js %}

{% endblock %}

{% block bodyContent %}
<div class="tom-destiny-inner">
    <section class="tom-destiny-topic tom-destiny-topic-grid">
        <h2 class="tom-destiny-topic-name">
            <a href="/">Latest</a>
        </h2>

        <div class="tom-destiny-topic-content">
            <article class="tom-destiny-card post large">
                <a class="tom-destiny-card-link" href="/view_post">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="A Mars Rover Explored a Wasteland and Found an Oasis">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">A Mars Rover Explored a Wasteland and Found an Oasis</h3>
                        </header>

                        <div class="tom-destiny-card-excerpt">Maecenas consectetur pharetra nisi, vel congue ligula tempor quis.
                            Sed turpis lorem, tempor varius pharetra pretium, varius at lorem. Nam viverra blandit massa
                            id vehicula. Ut feugiat in erat vitae lacinia. Etiam tincidunt eros vitae neque iaculis
                            elementum. Etiam vestibulum scelerisque nisl in placerat. Curabitur ultrices quam et ligula
                            congue,</div>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>

            <article class="tom-destiny-card post featured">
                <a class="tom-destiny-card-link" href="/how-has-this-complete-original-been-sidelined/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1545989253-02cc26577f88?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE4fHxhcnR8ZW58MHx8fHwxNjQ2MjgwMTY5&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="How has this complete original been sidelined?">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">How has this complete original been sidelined?</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>
            <article class="tom-destiny-card post">
                <a class="tom-destiny-card-link" href="/the-weekly-planet-an-outdated-idea-is-still-shaping-climate-policy/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1570358934836-6802981e481e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDN8fGNsaW1hdGV8ZW58MHx8fHwxNjQ2Mjc5NTI5&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="The Weekly Planet: An Outdated Idea Is Still Shaping Climate Policy">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">The Weekly Planet: An Outdated Idea Is Still Shaping ClimatePolicy</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>
            <article class="tom-destiny-card post">
                <a class="tom-destiny-card-link" href="/the-subversive-genius-of-extremely-slow-email/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1596526131083-e8c633c948d2?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDZ8fGVtYWlsfGVufDB8fHx8MTY0NjI3ODIwNg&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="The Subversive Genius of Extremely Slow Email">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">The Subversive Genius of Extremely Slow Email</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>

            <article class="tom-destiny-card post">
                <a class="tom-destiny-card-link" href="/the-search-for-intelligent-life-heads-underwater/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1551244072-5d12893278ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDYwfHx1bmRlcndhdGVyfGVufDB8fHx8MTY0NjI3NzQ3NA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="The Search for Intelligent Life Heads Underwater">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">The Search for Intelligent Life Heads Underwater</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>

            <article class="tom-destiny-card post">
                <a class="tom-destiny-card-link" href="/the-new-personal-website-isnt-really-a-website-at-all/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/flagged/photo-1594319622311-0b930abb17cf?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDd8fHRpa3Rva3xlbnwwfHx8fDE2NDYyNzgxNTM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="The New Personal Website Isn’t Really a Website at All">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">The New Personal Website Isn’t Really a Website at All</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>

            <article class="tom-destiny-card post">
                <a class="tom-destiny-card-link" href="/the-internet-is-just-investment-banking-now/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1591994843349-f415893b3a6b?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDExfHxpbnRlcm5ldCUyMGJhbmt8ZW58MHx8fHwxNjQ2Mjc4MDMz&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="The Internet Is Just Investment Banking Now">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">The Internet Is Just Investment Banking Now</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>
        </div>

        <footer class="tom-destiny-topic-footer">
            <a class="tom-destiny-topic-link" href="https://headline.ghost.io/page/2">Show more <svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                </svg></a>
        </footer>
    </section>

    <section class="tom-destiny-topic tom-destiny-topic-grid">
        <h2 class="tom-destiny-topic-name">
            <a href="/tag/culture/">Culture</a>
        </h2>

        <div class="tom-destiny-topic-content">
            <article class="tom-destiny-card post tag-culture featured large">
                <a class="tom-destiny-card-link" href="/how-has-this-complete-original-been-sidelined/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1545989253-02cc26577f88?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE4fHxhcnR8ZW58MHx8fHwxNjQ2MjgwMTY5&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="How has this complete original been sidelined?">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">How has this complete original been sidelined?</h3>
                        </header>

                        <div class="tom-destiny-card-excerpt">Maecenas consectetur pharetra nisi, vel congue ligula tempor quis.
                            Sed turpis lorem, tempor varius pharetra pretium, varius at lorem. Nam viverra blandit massa
                            id vehicula. Ut feugiat in erat vitae lacinia. Etiam tincidunt eros vitae neque iaculis
                            elementum. Etiam vestibulum scelerisque nisl in placerat. Curabitur ultrices quam et ligula
                            congue,</div>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>

            <article class="tom-destiny-card post tag-culture">
                <a class="tom-destiny-card-link" href="/the-joy-of-socially-distanced-gallery-going/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1563000215-e31a8ddcb2d0?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDM1fHxnYWxsZXJ5fGVufDB8fHx8MTY0NjIyNzEzOA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="The joy of socially distanced gallery-going">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">The joy of socially distanced gallery-going</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-02">Mar 2, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>

            <article class="tom-destiny-card post tag-culture">
                <a class="tom-destiny-card-link" href="/sensual-and-silky-the-royal-ballet-returns-to-covent-garden/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1602781723875-7e7edaa1e5ca?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDl8fGJhbGxldHxlbnwwfHx8fDE2NDYyMjczNjU&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="Sensual and silky: the Royal Ballet returns to Covent Garden">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">Sensual and silky: the Royal Ballet returns to Covent Garden</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-02">Mar 2, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>

            <article class="tom-destiny-card post tag-culture">
                <a class="tom-destiny-card-link" href="/old-school-excess-star-power-and-spectacle-royal-operas-tosca-reviewed/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1597868795283-5ce92a6f49ad?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDM1fHxvcGVyYXxlbnwwfHx8fDE2NDYyMjY3Njg&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="Old-school excess, star power and spectacle: Royal Opera’s Tosca reviewed">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">Old-school excess, star power and spectacle: Royal Opera’s Tosca
                                reviewed</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-02">Mar 2, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>

            <article class="tom-destiny-card post tag-culture">
                <a class="tom-destiny-card-link" href="/how-social-media-has-influenced-traditional-wine-culture/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1516594915697-87eb3b1c14ea?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDIzfHx3aW5lfGVufDB8fHx8MTY0NjIyNjMyOQ&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="How Social Media Has Influenced Traditional Wine Culture">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">How Social Media Has Influenced Traditional Wine Culture</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-02">Mar 2, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>

            <article class="tom-destiny-card post tag-culture">
                <a class="tom-destiny-card-link" href="/virginia-band-bridges-mexico-and-appalachia-through-mexilachian-music/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1511854085838-e8808da760f5?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDIwfHxzdHJlZXQlMjBtdXNpY3xlbnwwfHx8fDE2NDYyMjU5MzQ&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="Virginia Band Bridges Mexico and Appalachia through Mexilachian Music">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">Virginia Band Bridges Mexico and Appalachia through Mexilachian
                                Music</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            <time class="tom-destiny-card-date" datetime="2022-03-02">Mar 2, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>

            <article class="tom-destiny-card post tag-culture">
                <a class="tom-destiny-card-link" href="/technology-is-terrifying-in-steven-soderberghs-kimi/">
                    <figure class="tom-destiny-card-image">
                        <img src="https://images.unsplash.com/photo-1581092921461-eab62e97a780?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDIwMXx8dGVjaG5vbG9neXxlbnwwfHx8fDE2NDYyMjUzNzc&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000" alt="Technology Is Terrifying in Steven Soderbergh’s Kimi">
                    </figure>

                    <div class="tom-destiny-card-wrapper">
                        <header class="tom-destiny-card-header">
                            <h3 class="tom-destiny-card-title">Technology Is Terrifying in Steven Soderbergh’s Kimi</h3>
                        </header>

                        <footer class="tom-destiny-card-footer">
                            
                            <time class="tom-destiny-card-date" datetime="2022-03-02">Mar 2, 2022</time>
                        </footer>
                    </div>
                </a>
            </article>
        </div>

        <footer class="tom-destiny-topic-footer">
            <a class="tom-destiny-topic-link" href="/tag/culture/">Show more <svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                </svg></a>
        </footer>
    </section>
</div>
{% endblock %}