<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% extends "base.html" %}
{% block title %}Sign up {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/signup.css">
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block bodyContent %}
{% from "includes/formHelper.html" import render_field %}
<br>
<br>
<div class="container-login">
  <div class="col">
    <form method="POST" class="form-login">
      <h1>Login</h1>
      <br><br>

      <div class="form-login-field">
        {{ render_field(form.name, class="form-login-field") }}
      </div>
      <div class="form-login-field">
        {{ render_field(form.email, class="form-login-field") }}
      </div>
      {% if message != "" %}
      {{ message }}
      {% endif %}
      <br><br><br>

      <div class="form-login-field">
        {{ render_field(form.password, class="form-login-field") }}
      </div>
        {{form.recaptcha}}
      <div class="g-recaptcha" data-sitekey="6LdPSO8gAAAAADq9_WWZcX7MhXkx8J4ceGFynwWp">
      <input type="submit" value="Login">
      </div>
    </form>
  </div>
</div>

<div>
    <a href="/signup">Sign Up Here</a>
</div>

{% endblock %}
