{% extends "base.html" %}
{% block title %}Tom Destiny - Pricing{% endblock %}

{% block bodyContent %}
<div class="pricing_main_container">
    <div class="top_pricing_section">

    </div>
    <div class="middle_pricing_section row">
        <div class="left_pricing_card_container col-md-4">
            <div class="free_left_card_container">
                <div class="card-body">
                    <h5 class="card-title">Free</h5>
                    <h6 class="card-subtitle mb-2 text-muted">&#36;0 /mo</h6>
                    <p class="card-text">Experience a free plan before you pay to get more function</p>
                    <table>
                        <tbody>
                            <tr>
                                <td>&#10004;</td>
                                <td>Unlimited viewing for free blog post</td>
                            </tr>
                            <tr>
                                <td>&#10004;</td>
                                <td>Able to used for 1 account</td>
                            </tr>
                            <tr>
                                <td>&#10004;</td>
                                <td>Able to save favourite post</td>
                            </tr>
                            <tr>
                                <td>&#10004;</td>
                                <td>Able to comment on post</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="middle_pricing_card_container col-md-4">
            <div class="student_middle_card_container">
                <div class="card-body">
                    <h5 class="card-title">Student</h5>
                    <h6 class="card-subtitle mb-2 text-muted">&#36;5.99 /mo</h6>
                    <p class="card-text">For students who want to read more blogs to gain more knowldge</p>
                    <table>
                        <tbody>
                            <tr>
                                <td>&#10004;</td>
                                <td>Unlimited viewing for free and educational blog post</td>
                            </tr>
                            <tr>
                                <td>&#10004;</td>
                                <td>Able to used for 1 account</td>
                            </tr>
                            <tr>
                                <td>&#10004;</td>
                                <td>Able to save favourite post</td>
                            </tr>
                            <tr>
                                <td>&#10004;</td>
                                <td>Able to comment on post</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="right_pricing_card_container col-md-4">
            <div class="premium_right_card_conatiner">
                <div class="card-body">
                    <h5 class="card-title">Premium</h5>
                    <h6 class="card-subtitle mb-2 text-muted">&#36;14.99 /mo</h6>
                    <p class="card-text">For users who wants to have the full experience of the blog websites</p>
                    <table>
                        <tbody>
                            <tr>
                                <td>&#10004;</td>
                                <td>Unlimited viewing for all the blog post</td>
                            </tr>
                            <tr>
                                <td>&#10004;</td>
                                <td>Able to used for 3 account</td>
                            </tr>
                            <tr>
                                <td>&#10004;</td>
                                <td>Able to save favourite post</td>
                            </tr>
                            <tr>
                                <td>&#10004;</td>
                                <td>Able to comment on post</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_pricing_section">

    </div>
</div>
{% endblock %}