{% extends "base.html" %}
{% block title %}Sign up {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/signup.css">
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block bodyContent %}
{% from "includes/formHelper.html" import render_field %}
<br>
<br>
<div class="container-login">
  <div class="col">
      <h1>Welcome {{ g.user.get("Name") }}</h1>
  </div>
    <div class="col">
      <p>phonenumber: {{ g.user.get("Phone number") }}</p>
  </div>
</div>

<br>
<div>
    <a href="/logout">Logout</a>
</div>

{% endblock %}
