{% extends "base.html" %}
{% block title %}Tom Destiny - Home{% endblock %}

{% block bodyContent %}
<body class="post-template tag-science has-full-image is-head-transparent is-head-b--a_n has-serif-body">
    <div class="tom-destiny-site">
        <section class="tom-destiny-cover tom-destiny-outer" style="--cover-height: 997.0099206349206px;">
            <img class="tom-destiny-cover-image"
                srcset="https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 300w,
                        https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 720w,
                        https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
                        https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1200w,
                        https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 2000w"
                sizes="100vw"
                src="https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                alt="">

            <div class="tom-destiny-cover-content">
                <a class="tom-destiny-article-tag" href="">Science</a>

                <h1 class="tom-destiny-cover-title">A Mars Rover Explored a Wasteland and Found an Oasis</h1>
            </div>
        </section>

        <main class="tom-destiny-main">
            <article class="tom-destiny-article post tag-science">
                <header class="tom-destiny-article-header tom-destiny-canvas">
                    <aside class="tom-destiny-article-sidebar">
                        <figure class="tom-destiny-author-image">
                            <img src=""
                                alt="Kelly Brown">
                        </figure>

                        <h4 class="tom-destiny-author-name">
                            <a href="/author/kelly/">Sze Yan</a>
                        </h4>

                        <div class="tom-destiny-article-meta">
                            <time class="tom-destiny-article-date" datetime="2022-03-03">Mar 3, 2022</time>

                            <span class="tom-destiny-article-meta-sep"></span>
                            <span class="tom-destiny-article-length">1 min</span>
                        </div>
                    </aside>

                </header>

                <section class="tom-destiny-content tom-destiny-canvas">
                    <p>Maecenas consectetur pharetra nisi, vel congue ligula tempor quis. Sed turpis lorem, tempor
                        varius pharetra pretium, varius at lorem. Nam viverra blandit massa id vehicula. Ut feugiat in
                        erat vitae lacinia. Etiam tincidunt eros vitae neque iaculis elementum.</p>
                    <p>Etiam vestibulum scelerisque nisl in placerat. Curabitur ultrices quam et ligula congue, at
                        bibendum arcu porttitor. Morbi lacinia pretium diam, hendrerit sagittis sem consectetur non.
                        Proin vel nisi a turpis egestas efficitur. In semper velit non justo aliquam euismod.</p>
                    <h2 id="sed-id-fermentum-neque">Sed id fermentum neque</h2>
                    <p>Proin tempus arcu vulputate pellentesque tempus. Nulla luctus dui id libero mattis luctus. Donec
                        facilisis massa orci, et placerat purus pulvinar vel. Nullam egestas nisi ex, placerat imperdiet
                        odio ullamcorper eu. Donec a aliquet nisl, sed pellentesque purus. Suspendisse eu nibh auctor,
                        commodo elit vel, congue mi. Nulla nec nisl ligula. Pellentesque eleifend nibh nec augue aliquet
                        efficitur.</p>
                    <figure class="kg-card kg-image-card kg-card-hascaption"><img
                            src="https://images.unsplash.com/photo-1547234935-80c7145ec969?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDd8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                            class="kg-image" alt="mars like places on earth" loading="lazy" width="3216" height="2136"
                            srcset="https://images.unsplash.com/photo-1547234935-80c7145ec969?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDd8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=600 600w, https://images.unsplash.com/photo-1547234935-80c7145ec969?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDd8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1000 1000w, https://images.unsplash.com/photo-1547234935-80c7145ec969?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDd8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1600 1600w, https://images.unsplash.com/photo-1547234935-80c7145ec969?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDd8fG1hcnN8ZW58MHx8fHwxNjQ2Mjc3NjQw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2400 2400w"
                            sizes="(min-width: 720px) 720px">
                        <figcaption>Photo by <a
                                href="https://unsplash.com/@yuli_superson?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Juli
                                Kosolapova</a> / <a
                                href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a>
                        </figcaption>
                    </figure>
                    <p>Sed elementum fermentum diam et suscipit. Quisque a facilisis sem. Nam accumsan lorem vitae elit
                        interdum, vitae porta lorem egestas. Curabitur malesuada non quam vitae eleifend. Aliquam sem
                        elit, rhoncus vel tristique ut, finibus ultrices augue. Suspendisse porta at nisl ac
                        scelerisque. Cras sit amet tristique quam, nec eleifend dolor. Ut consequat purus risus, et
                        pellentesque lectus scelerisque.</p>
                </section>
            </article>

            <div class="tom-destiny-read-next tom-destiny-canvas">
                <section class="tom-destiny-pagehead">
                    <h4 class="tom-destiny-pagehead-title">Read next</h4>
                </section>

                <div class="tom-destiny-topic tom-destiny-topic-grid">
                    <div class="tom-destiny-topic-content">
                        <article class="tom-destiny-card post">
                            <a class="tom-destiny-card-link" href="/the-search-for-intelligent-life-heads-underwater/">
                                <figure class="tom-destiny-card-image">
                                    <img srcset="https://images.unsplash.com/photo-1551244072-5d12893278ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDYwfHx1bmRlcndhdGVyfGVufDB8fHx8MTY0NjI3NzQ3NA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 300w,
                            https://images.unsplash.com/photo-1551244072-5d12893278ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDYwfHx1bmRlcndhdGVyfGVufDB8fHx8MTY0NjI3NzQ3NA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 720w,
                            https://images.unsplash.com/photo-1551244072-5d12893278ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDYwfHx1bmRlcndhdGVyfGVufDB8fHx8MTY0NjI3NzQ3NA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
                            https://images.unsplash.com/photo-1551244072-5d12893278ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDYwfHx1bmRlcndhdGVyfGVufDB8fHx8MTY0NjI3NzQ3NA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1200w,
                            https://images.unsplash.com/photo-1551244072-5d12893278ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDYwfHx1bmRlcndhdGVyfGVufDB8fHx8MTY0NjI3NzQ3NA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 2000w"
                                        sizes="(max-width: 1200px) 100vw, 1200px"
                                        src="https://images.unsplash.com/photo-1551244072-5d12893278ab?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDYwfHx1bmRlcndhdGVyfGVufDB8fHx8MTY0NjI3NzQ3NA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                                        alt="The Search for Intelligent Life Heads Underwater">
                                </figure>

                                <div class="tom-destiny-card-wrapper">
                                    <header class="tom-destiny-card-header">
                                        <h3 class="tom-destiny-card-title">The Search for Intelligent Life Heads Underwater</h3>
                                    </header>

                                    <div class="tom-destiny-card-excerpt">Donec a aliquet nisl, sed pellentesque purus.
                                        Suspendisse eu nibh auctor, commodo elit vel, congue mi.</div>

                                    <footer class="tom-destiny-card-footer">
                                        <span class="tom-destiny-card-author">By Kelly Brown</span>
                                        <span class="tom-destiny-card-footer-sep"></span>
                                        <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                                    </footer>
                                </div>
                            </a>
                        </article>
                        <article class="tom-destiny-card post">
                            <a class="tom-destiny-card-link" href="/even-nasa-seems-surprised-by-its-new-space-telescope/">
                                <figure class="tom-destiny-card-image">
                                    <img srcset="https://images.unsplash.com/photo-1613744450985-fc6372fe6a12?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ1fHx0ZWxlc2NvcGV8ZW58MHx8fHwxNjQ2Mjc3MjEw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 300w,
                            https://images.unsplash.com/photo-1613744450985-fc6372fe6a12?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ1fHx0ZWxlc2NvcGV8ZW58MHx8fHwxNjQ2Mjc3MjEw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 720w,
                            https://images.unsplash.com/photo-1613744450985-fc6372fe6a12?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ1fHx0ZWxlc2NvcGV8ZW58MHx8fHwxNjQ2Mjc3MjEw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
                            https://images.unsplash.com/photo-1613744450985-fc6372fe6a12?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ1fHx0ZWxlc2NvcGV8ZW58MHx8fHwxNjQ2Mjc3MjEw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1200w,
                            https://images.unsplash.com/photo-1613744450985-fc6372fe6a12?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ1fHx0ZWxlc2NvcGV8ZW58MHx8fHwxNjQ2Mjc3MjEw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 2000w"
                                        sizes="(max-width: 1200px) 100vw, 1200px"
                                        src="https://images.unsplash.com/photo-1613744450985-fc6372fe6a12?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ1fHx0ZWxlc2NvcGV8ZW58MHx8fHwxNjQ2Mjc3MjEw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                                        alt="Even NASA Seems Surprised by Its New Space Telescope">
                                </figure>

                                <div class="tom-destiny-card-wrapper">
                                    <header class="tom-destiny-card-header">
                                        <h3 class="tom-destiny-card-title">Even NASA Seems Surprised by Its New Space Telescope
                                        </h3>
                                    </header>

                                    <div class="tom-destiny-card-excerpt">Maecenas consectetur pharetra nisi, vel congue ligula
                                        tempor quis. Sed turpis lorem, tempor varius pharetra pretium, varius at lorem.
                                        Nam viverra blandit massa id vehicula. Ut feugiat in erat vitae lacinia. Etiam
                                        tincidunt eros vitae neque iaculis elementum. Etiam vestibulum scelerisque nisl
                                        in placerat. Curabitur ultrices quam et ligula congue,</div>

                                    <footer class="tom-destiny-card-footer">
                                        <span class="tom-destiny-card-author">By Kelly Brown</span>
                                        <span class="tom-destiny-card-footer-sep"></span>
                                        <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                                    </footer>
                                </div>
                            </a>
                        </article>
                        <article class="tom-destiny-card post">
                            <a class="tom-destiny-card-link" href="/lion-bones-are-popping-up-in-some-very-unexpected-places/">
                                <figure class="tom-destiny-card-image">
                                    <img srcset="https://images.unsplash.com/photo-1586648621335-c8289f963616?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE3fHxBcmNoYWVvbG9neXxlbnwwfHx8fDE2NDYyNzcxNjA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 300w,
                            https://images.unsplash.com/photo-1586648621335-c8289f963616?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE3fHxBcmNoYWVvbG9neXxlbnwwfHx8fDE2NDYyNzcxNjA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 720w,
                            https://images.unsplash.com/photo-1586648621335-c8289f963616?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE3fHxBcmNoYWVvbG9neXxlbnwwfHx8fDE2NDYyNzcxNjA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
                            https://images.unsplash.com/photo-1586648621335-c8289f963616?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE3fHxBcmNoYWVvbG9neXxlbnwwfHx8fDE2NDYyNzcxNjA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1200w,
                            https://images.unsplash.com/photo-1586648621335-c8289f963616?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE3fHxBcmNoYWVvbG9neXxlbnwwfHx8fDE2NDYyNzcxNjA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 2000w"
                                        sizes="(max-width: 1200px) 100vw, 1200px"
                                        src="https://images.unsplash.com/photo-1586648621335-c8289f963616?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE3fHxBcmNoYWVvbG9neXxlbnwwfHx8fDE2NDYyNzcxNjA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                                        alt="Lion Bones Are Popping Up in Some Very Unexpected Places">
                                </figure>

                                <div class="tom-destiny-card-wrapper">
                                    <header class="tom-destiny-card-header">
                                        <h3 class="tom-destiny-card-title">Lion Bones Are Popping Up in Some Very Unexpected
                                            Places</h3>
                                    </header>

                                    <div class="tom-destiny-card-excerpt">Maecenas consectetur pharetra nisi, vel congue ligula
                                        tempor quis. Sed turpis lorem, tempor varius pharetra pretium, varius at lorem.
                                        Nam viverra blandit massa id vehicula. Ut feugiat in erat vitae lacinia. Etiam
                                        tincidunt eros vitae neque iaculis elementum. Etiam vestibulum scelerisque nisl
                                        in placerat. Curabitur ultrices quam et ligula congue,</div>

                                    <footer class="tom-destiny-card-footer">
                                        <span class="tom-destiny-card-author">By Jose Walker</span>
                                        <span class="tom-destiny-card-footer-sep"></span>
                                        <time class="tom-destiny-card-date" datetime="2022-03-03">Mar 3, 2022</time>
                                    </footer>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>

        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}