<div class="tom-destiny-head-inner tom-destiny-inner">
    <a class="tom-destiny-head-description" href="/">Thoughts, stories and ideas.</a>

    <div class="tom-destiny-head-brand">
        <a class="tom-destiny-head-logo" href="/">
                Tom Destiny
        </a>
        <button class="tom-destiny-burger"></button>
    </div>

    <nav class="tom-destiny-head-menu">
        <ul class="nav">
            <li class="nav-environment"><a href="">4.0 Guide</a></li>
            <li class="nav-culture"><a href="">Badminton</a></li>
            <li class="nav-sports"><a href="">Skating</a></li>
            <li class="nav-about"><a href="">About</a></li>
            <li class="nav-about"><a href="/pricing">Pricing</a></li>
            <li class="nav-about"><a href="/admin/dashboard">Admin</a></li>
        </ul>
    </nav>

    <div class="tom-destiny-head-actions">
        <a class="tom-destiny-head-btn tom-destiny-btn tom-destiny-primary-btn tom-destiny-portal-close" href="/login" data-portal="signup" style="background-color: #f51919;">Login</a>
    </div>
</div>
