<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% extends "baselogin.html" %}
{% block title %}Sign up {% endblock %}

{% block css %}
<script src="https://cdn.tailwindcss.com"></script>

<style>
    label {
        display: none;
    }
</style>
{% endblock %}

{% block bodyContent %}
{% from "includes/formHelper.html" import render_field %}
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <a class="flex justify-center" href="/">Tommy Destiny</a>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Sign in to your account</h2>
            <p class="mt-2 text-center text-sm text-gray-600"> Or <a href="/signup" class="font-medium text-sky-500 hover:text-sky-700"> sign up here </a>
            </p>
        </div>
        <form method="POST" action="#" class="mt-8 space-y-6">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div>
                {{ render_field(form.email, class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm") }}
            </div>
            <div>
                {{ render_field(form.password, class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm") }}
            </div> {% if message != "" %} {{ message }} {% endif %} <br>
            <br>
            {{form.recaptcha}}
            <br>
            <div class="g-recaptcha" data-sitekey="6LdPSO8gAAAAADq9_WWZcX7MhXkx8J4ceGFynwWp">
                <input class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-sky-500 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
{% endblock %}