{% extends "base.html" %}
{% block title %}Sign up {% endblock %}

{% block css %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block bodyContent %}
{% from "includes/formHelper.html" import render_field %}
<br>
<br>
<div class="container-login">
  <div class="col">
      <h1>Welcome {{ userinfo["Name"] }}</h1>
  </div>
    <div class="col">
      <p>phonenumber: {{ userinfo["Phone number"] }}</p>
  </div>
</div>

<br>
<div>
    <a href="/logout">Logout</a>
</div>

{% endblock %}
