<!DOCTYPE html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        {% block css %}{% endblock %}

        {% block js %}{% endblock %}
    </head>

    <body>
        <div>
            <header>
                {% block navbar %}
                    {% include 'includes/adminnavbar.html' %}
                {% endblock %}
            </header>

            <main >
                {% block bodyContent %}{% endblock %}
            </main>
        </div>
    </body>

</html>