<!DOCTYPE html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}{% endblock %}

        <script src="../static/js/firebaseConfiguration.js"></script>
        {% block js %}{% endblock %}
    </head>

    <body class="home-template is-head-b--a_n has-serif-body">
        <div class="tom-destiny-site">
            <main class="tom-destiny-main tom-destiny-outer">
                {% block bodyContent %}{% endblock %}
            </main>
        </div>
    </body>

</html>